<h4>Endpoints</h4>
<ol>
  <li><%= link_to "Codes", "/codes.json" %></li>
  <li><%= link_to "Costumer Say",  "/costumer_says.json" %></li>
  <li><%= link_to "Employees",  "/employees.json" %></li>
  <li><%= link_to "Featured Partners",  "/featured_partners.json" %></li>
  <li><%= link_to "Press",  "/presses.json" %></li>
</ol>
